@media all and (max-width: 1000px){
  .language-wrapper img{
    display: inline-block;
    width: 60%;
    text-align: center;
  }
}

@media all and (max-width: 670px){
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .float-left {
    text-align: center;
  }
  .point  {
    width: 100%;
  }
  .language-wrapper img {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
}
